<extend name="Public/base" />
<block name="body"> 
	<div class="text-c"> 
		<form method="get" action="">
			<input type="text" class="input-text" value="{:I('kw')}" style="width:250px" placeholder="输入管理员名称、电话" name="kw">
			<button type="submit" class="btn btn-success radius"  ><i class="Hui-iconfont"></i> 搜管理员</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="l"> 
			<a class="btn btn-primary radius" href="javascript:;" onclick="layer_show('添加管理员','{:U("add")}','800','550')"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a>
		</span>
		<span class="r">共有数据：<strong>{$pageInfo:totalRows}</strong> 条</span>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
		<thead>
			
			<tr class="text-c" role="row">
				<th width="80"   style="width: 80px;">管理员名称</th>
				<th width="80"   style="width: 80px;">账号</th>
				<th width="80"   style="width: 80px;">手机</th>
				<th width="80"   style="width: 120px;">注册时间</th>
				<th width="80"   style="width: 120px;">最后登录时间</th>
				<th >描述</th>
				<th width="80"   style="width: 120px;">是否启用</th>
				<th width="80"  style="width: 80px;">操作</th>
			</tr>
		</thead>
		<tbody> 
			<volist name='pageInfo:data' id='item'> 
				<tr class="text-c odd" role="row"> 
					<td>{$item.name}</td>
					<td>{$item.login_name}</td>
					<td>
						{$item.mobile|default='无'}
					</td>
					<td>
						{$item.created|date='Y-m-d H:i:s',###}
					</td>
					<td>
						{$item.last_login_time|date='Y-m-d H:i:s',###}
					</td>
					<td>{$item.memo}</td>
					<td>
						<eq name='item.status' value='1'>
							<span class="label label-success radius">已启用</span>
							<else/>
							<span class="label radius">已停用</span>
						</eq>
					</td>
					<td class="f-14">
						<eq name='item.status' value='1'>
							<a  onclick="admin_stop('{$item.id}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
							<else/>
							<a  onclick="admin_start('{$item.id}')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i>
							</a>
						</eq>
						<a title="设置密码" href="javascript:;" onclick="layer_show('设置密码','{:U('setPassword?id='.$item['id'])}','800','500')" >
							<i class="Hui-iconfont">&#xe63f;</i>
						</a> 
						<a title="编辑" href="javascript:;" onclick="layer_show('编辑管理员','{:U('modify?id='.$item['id'])}','800','500')" >
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						<a title="删除" href="javascript:;" onclick="admin_role_del(this,'{$item.id}')" class="ml-5" >
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>

				</tr>
			</volist>
		</tbody>
	</table>

	<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
		<php>echo $pageInfo->show();</php>
	</div>
	<script type="text/javascript">
		/*管理员-角色-删除*/
		function admin_role_del(obj,id){
			common_opt('管理员删除须谨慎，确认要删除吗？',id,"{:U('del')}");
		}
		function admin_stop(id) {
			common_opt('确认要停用吗？',id,"{:U('disable')}");
		}
		function admin_start(id) {
			common_opt('确认要启用吗？',id,"{:U('recovery')}");
		}
	</script>

</block>