<extend name="Public/_model" />
<block name="body"> 
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
	<input type="hidden" name="id" value="{$info.id}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.name}" placeholder="角色名称" id="roleName" name="name" datatype="*2-16" nullmsg="角色名称不能为空">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="intro" cols="" rows="" class="textarea"   onkeyup="textarealength(this,200)">{$info.intro}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</block>
<block name='js'>
	<script type="text/javascript">
		$(function () {
			ajaxForm('#form-admin-role-add');
		});
	</script>
</block>
